*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
cmake-build-debug
.idea
tests/lsmt/cmake-build-debug
tests/avl/cmake-build-debug
tests/pager/cmake-build-debug
tests/txn/cmake-build-debug
tests/wal/cmake-build-debug
