*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.txt
*.out
*.app
build-*
Testing/*
cmake-build-debug
cmake-build-release
.idea
build
build-wmu
build-wmu.log
.vscode
vcpkg_installed
.vs
fuzz/corpus
doc/*.pdf