*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
cmake-build-debug
cmake-build-release
.idea
build
.vscode
vcpkg_installed
.vs
run.sh
test_tidesdb
benchmark_results2.txt
benchmark_results*
large_value_benchmark_results*
large_value_benchmark_1gb_results*