name: TidesDB CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout tidesdb repo
        uses: actions/checkout@v4

      - name: Install dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt update
          sudo apt install -y libzstd-dev liblz4-dev libsnappy-dev libssl-dev

      - name: Install dependencies (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install zstd lz4 snappy openssl

      - name: Install dependencies (Windows)
        if: runner.os == 'Windows'
        run: |
          vcpkg install

      - name: Configure CMake
        run: cmake -S . -B build -DTIDESDB_BUILD_TESTS=ON

      - name: Build
        run: cmake --build build --config Release

      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure --build-config Release

