name: TidesDB CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            name: Linux
          - os: macos-latest
            name: macOS
          - os: windows-latest
            name: Windows MSVC
            compiler: msvc
          - os: windows-latest
            name: Windows MinGW
            compiler: mingw

    runs-on: ${{ matrix.os }}
    name: ${{ matrix.name }}

    steps:
      - name: Checkout tidesdb repo
        uses: actions/checkout@v4

      - name: Install dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt update
          sudo apt install -y libzstd-dev liblz4-dev libsnappy-dev libssl-dev

      - name: Install dependencies (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install zstd lz4 snappy openssl

      - name: Install dependencies (Windows)
        if: runner.os == 'Windows'
        run: |
          cd $env:VCPKG_INSTALLATION_ROOT
          git pull
          .\vcpkg.exe install zstd:x64-windows snappy:x64-windows lz4:x64-windows openssl:x64-windows pthreads:x64-windows

      - name: Install MinGW
        if: matrix.compiler == 'mingw'
        run: choco install mingw -y

      - name: Configure CMake (Windows MSVC)
        if: matrix.compiler == 'msvc'
        run: |
          cmake -S . -B build -DTIDESDB_BUILD_TESTS=ON -DCMAKE_TOOLCHAIN_FILE="$env:VCPKG_INSTALLATION_ROOT/scripts/buildsystems/vcpkg.cmake"

      - name: Configure CMake (Windows MinGW)
        if: matrix.compiler == 'mingw'
        run: |
          cmake -S . -B build -G "MinGW Makefiles" -DCMAKE_C_COMPILER=gcc -DTIDESDB_BUILD_TESTS=ON -DCMAKE_TOOLCHAIN_FILE="$env:VCPKG_INSTALLATION_ROOT/scripts/buildsystems/vcpkg.cmake"

      - name: Configure CMake (Linux/macOS)
        if: runner.os != 'Windows'
        run: cmake -S . -B build -DTIDESDB_BUILD_TESTS=ON

      - name: Build
        run: cmake --build build --config Release

      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure --build-config Release

