name: clang-format Check
on: [push, pull_request]
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install clang-format
      run: |
        sudo apt-get update
        sudo apt-get install -y clang-format-14
    - name: Run clang-format style check for C/C++/Protobuf programs
      run: |
        find src -regextype posix-egrep -regex '.*\.(c|C|cc|cpp|cxx|c\+\+|h|H|hh|hpp|hxx|h\+\+|proto|cu)$' -print0 | \
        xargs -0 clang-format-14 --dry-run --Werror --style=file --fallback-style=llvm